<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUT3sOzQxIFZ_j9O_8D8qaMFzzQ1Mmhe0</string>
	<key>GCM_SENDER_ID</key>
	<string>952573746147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialmedia.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>amit58-e49e4</string>
	<key>STORAGE_BUCKET</key>
	<string>amit58-e49e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952573746147:ios:5aaa138ba0e2b63e4a9ed6</string>
</dict>
</plist>